@media (max-width: 767px) {
  .table-responsive {
    overflow-x: auto;
    width: 120%;
    max-width: none;
  }
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.trash :hover{
  cursor: pointer;
}

